*{
  margin: 0;
  padding: 0;
}
.card-container{
  width: 300px;
  /* background-color: rgb(164, 160, 160); */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin-left: 35%;
  border-radius: 10px;



}
h1{
  text-align: center;

}
img{
  width: 300px;
  height :350px;
  border-radius: 10px;
}
input{
  width: 300px;
  height: 30px;
  background-color: rgb(112, 112, 116);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
}
button{
    background-color: rgb(58, 58, 116);
 
  border-radius: 10px;
  color: white;
  padding: 5px;
}
.btn-container{
  display: flex;
  justify-content: center;
  gap: 13.5rem;

 
}