:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { 
  /* text-align: center; */
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.img{
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 15px;
  width: 250px;
  height: 250px;
  /* border-radius: 50%; */
   box-shadow: 4px 4px 10px 2px rgba(211, 211, 223, 0.3);
   object-fit: cover;
   object-position: top;
  /* margin-bottom: 0; */
  
}
body{
  display: flex;

  

}
.btn{
  margin-left: 60%;
  background-color: rgb(63, 35, 219);
  color: #ffffff;
  border-radius: 15px
}
.btn:hover{
  background-color: rgb(113, 114, 194);
}
.container{
  padding: 10px;
  /* border: 1px solid black; */
  /* text-align: left; */
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px rgba(120, 120, 128, 0.3);
  background-color: #242424;
  color:white
}
.para{
  max-width:  280px;;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
  
}
/* span{
 
  font-weight:bold;
} */
/*.followers{
  margin-left: 4px;
}
.following{
  margin-left: 4px;
} */
/* .followers {
  color: #1da1f2; 
  font-weight: bold;
  margin-left: 4px;
  font-size: 14px;
}

.following {
  color: #17bf63; 
  font-weight: bold;
  margin-left: 4px;
  font-size: 14px;
} */
 .stats {
  display: flex;
  gap: 20px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  font-size: 18px;
  font-weight: bold;
}

.label {
  color: white;
  font-size: 12px;
   font-weight: bold;
}